#checkout{
    
    width: 100%;
    padding-left: 0;
    background-color: #f5f5f5 !important;
    
}

#checkout .block{

    width: 100%;
    height: 500px;
    margin-bottom: 30px;

}

#checkout .block .title{

    width: 95%;
    height: 50px;
    padding-left: 5%;

}

#checkout .block .title img{
    
    width: 20px;
    opacity: 0.5;
    
}

#checkout .block .title p{
    
    display: inline-block;
    margin-left: 1%;
    font-weight: 800;
    
}

#checkout .block .left{

    width: 55%;
    height: 400px;
    float: left;
    margin-left: 8%;

}

#checkout .block .right{

    width: 29%;
    height: 400px;
    float: left;
    margin-left: 1%;
    border-radius: 4px;
    box-shadow: 0 3px 1px 0px rgba(66, 66, 66, 0.4);
    background-color: #fff;

}

#checkout .block .right .inner_container{
    
    height: 360px;    
    margin: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-style: dashed;
    
}

#checkout .block .right .inner_container .inner_title{
    
    font-weight: 800;
    opacity: 1;
    
}

#checkout .block .right .inner_container .inner_left{
    
    float: left;
    
}

#checkout .block .right .inner_container .inner_right{
    
    float: right;
    
}

.dashed_line{
    
    border-top: 1px dashed #e0e0e0;
    
}

.total{
    
    font-size: 25px;  
    
}

.table_element{
    
    height: 80px;
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 3px 1px 0 rgba(66,66,66,.4);
    background-color: #fff;
    
}

.row{
    
    width: 98%;
    @extend .table_element;
    
}

.col{
    
    width: 49%;
    display: inline-block;
    @extend .table_element;
    
}

.left label p{
    
    margin-top: 5px;
    margin-left: 5px;
    font-weight: 800;
    
}

.left input{
    
    width: 80%;
    display: inline-block;
    margin-left: 5px;
    border: none;
    
}

.left img{
    
    width: 5%;
    margin-bottom: 3px;
    display: inline-block;
    
}

textarea:focus, input:focus{
    outline: none;
}

#country_selection:hover{
    
    cursor: pointer;
    
}

.purchase{
    
    display: table;
    text-align: center;
    background-color: #76FF03;
    
}

.purchase div{
    
    display: table-cell;
    vertical-align: middle;
    
}

.purchase div img{
    
    width: 3%;
    display: inline-block;
    
}

.purchase div p{
    
    display: inline-block;
    margin-left: 2%;
    color: #fff;
    font-weight: 800;
    
}